:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.wrapper {
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  width: max-content;
}

.home {
  overflow-y: auto;
  max-height: 100vh;
}

.card-project {
  text-decoration: none;
}

.project-card:hover {
  transform: scale(1.02); 
  transition: transform 0.3s ease; 
}

.icon{
  height: auto;
  width: 3vw;
  padding-top: 1%;
  margin-right: 5%;
  justify-content: flex-start;
}

.icon-header {
  width: 2vw;
  margin-right: 10%;
  padding-top: 1%;
  margin-bottom: 7%;
}

.fonts-home {
  font-size: 90%
}