:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.wrapper {
  display: flex;
}

.header {
  position: sticky;
  top: 0;
}

.home {
  overflow-y: auto;
  max-height: 100vh;
}

.image-projects {
  height: auto;
  width: 40%;
  object-fit: cover;
}

.card-project {
  text-decoration: none;
}

.card-project:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transition: background-color 0.3s ease; 
}